.top-bar {
    background-image: url(../images/HomePageBackground-30nama.jpg);
    background-position: center bottom;
    height: 100vh;
}

.top-bar .header {
    font-size: 1.5rem;
}

.top-bar .menu {
    margin-right: 15px;
}

.menu-img-box {
    width: 150px;
    height: 52px;
}

ul li {
    display: flex;
}